<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion  sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">MODULOS</div>
                <a class="nav-link" routerLink="cuarto" >
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-house-user"></i></div>
                    Departamentos
                </a>
                <a class="nav-link" routerLink="inquilino" >
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                    Inquilinos
                </a>
                
                <a class="nav-link" routerLink="contrato">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-file-signature"></i></div>
                    Contratos
                </a>
                <a class="nav-link" routerLink="deuda">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-money-check-dollar"></i></div>
                    Deudas
                </a>
                <a class="nav-link" routerLink="pago">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-money-bill-1-wave"></i></div>
                    Pagos Realizados
                </a>
                <a class="nav-link" routerLink="reporte">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-file-signature"></i></div>
                    Reportes
                </a>
                
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>